
* {
  font-family: "Roboto", sans-serif;
}
.hero-container {
  position: relative;
  height: 100vh; /* Full viewport height */
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.75; /* Adjust opacity as needed */
  z-index: -1; /* Ensure the overlay is behind the content */
}
.hero-content {
  position: relative;
  z-index: 1; /* Ensure the content is above the overlay */
}
@media (max-width: 640px) {
  .hero-text {
    font-size: 2rem; /* Example of adjusting font size for smaller screens */
  }
}

@media (max-width: 425px) {
  .navbar-white-bg {
    background-color: white;
    color: black;
  }
  .navbar-white-bg ul {
    background-color: white;
    color: black;
    margin-top: 55px;
  }
}

.navbar-white-bg {
  transition: box-shadow 0.3s ease-in-out;
  color: white;
}

.navbar-white-bg.scrolled {
  background-color: white;
  color: black;
}

@media (min-width: 768px) {
  .navbar-white-bg.scrolled {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 767px) {
  .navbar-white-bg.scrolled {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  ul.scrolled {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
}

.button-section {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  color: #333333; /* Dark text color */
}
.button-section .content {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 6rem 2rem;
}
.button-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 1rem;
}
.button-section p {
  font-size: 1.5rem;
  color: #666666; /* Medium-dark text color */
  margin-bottom: 3rem;
}
.button-section button {
  background-color: #da373d;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border-radius: 999px;
  transition: background-color 0.3s ease;
}
.button-section button:hover {
  background-color: #aa2c32;
}
.working-hours-section {
  background-color: #f3f4f6; /* Light pink background color */
}

.working-hour {
  right: -278px;
  width: 60%;
  border-radius: 6.8rem;
  background-color: #6b7280;
}

.about-us-section .container {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 2rem;
  display: flex;
}

.about-us-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

.about-us-section img {
  flex-basis: 40%;
  width: 90%;
}

.item {
  max-width: 320px;
  margin: auto;
}
.item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.owl-carousel .owl-item img {
  width: 100px;
}

.album {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }

  .album a {
      display: block;
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
  }

  .album a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
  }

  .album a:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .album a:hover img {
      transform: scale(1.1);
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hidden {
    display: none;
  }
  #closeModal {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
  }

  