      .button-section {
        background-color: rgba(
          255,
          255,
          255,
          0.8
        ); /* Semi-transparent white background */
        color: #333333; /* Dark text color */
      }
      .button-section .content {
        max-width: 800px;
        margin: auto;
        text-align: center;
        padding: 6rem 2rem;
      }
      .button-section h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333333;
        margin-bottom: 1rem;
      }
      .button-section p {
        font-size: 1.5rem;
        color: #666666; /* Medium-dark text color */
        margin-bottom: 3rem;
      }
      .button-section button {
        background-color: #da373d;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.5rem 3rem;
        border-radius: 999px;
        transition: background-color 0.3s ease;
      }
      .button-section button:hover {
        background-color: #aa2c32;
      }
      .working-hours-section {
        background-color: #f3f4f6; /* Light gray background color */
      }

      .working-hour {
        right: -278px;
        width: 60%;
        border-radius: 6.8rem;
        background-color: #6b7280;
      }

      .about-us-section {
        background-color: #f3f4f6; /* Light gray background color */
      }

      .about-us-section .container {
        max-width: 1200px;
        margin: auto;
        padding: 4rem 2rem;
        display: flex;
      }

      .about-us-section .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
      }

      .about-us-section h2 {
        font-size: 3rem;
        font-weight: bold;
        color: #333333; /* Dark text color */
        margin-bottom: 1.5rem;
      }

      .about-us-section p {
        font-size: 1.5rem;
        color: #666666; /* Medium-dark text color */
        margin-bottom: 2rem;
      }

      .about-us-section img {
        flex-basis: 50%;
        border-radius: 10px; /* Rounded corners for the image */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
      }

      .rectangle {
        background-color: white; /* White background for rectangles */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        position: absolute;
        height: 200px;
        padding: 1rem;
        z-index: 10; /* Ensure rectangles are above the background shape */
      }

      .rectangle img {
        border-radius: 5px; /* Rounded corners for the images */
        width: 100%;
        height: auto;
        overflow: hidden;
      }
      .swiper-container{
        overflow: hidden;
      }
      .album .responsive-container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        justify-content: flex-start;
      }
      
      .album .responsive-container-block.bg {
        max-width: 1320px;
        margin: 0 0 0 0;
        justify-content: space-between;
      }
      
      .album .img {
        width: 100%;
        margin: 0 0 20px 0;
      }
      
      .album #i9rb {
        color: black;
      }
      
      .album #ir6i {
        color: black;
      }
      
      .album #ikz3b {
        color: black;
      }
      
      .album .responsive-container-block.img-cont {
        flex-direction: column;
        max-width: 33.3%;
        min-height: auto;
        margin: 0 0 0 0;
        height: 100%;
      }
      
      .album #ipix {
        color: black;
      }
      
      .album #ipzoh {
        color: black;
      }
      
      .album #ig5q8 {
        color: black;
      }
      
      .album #imtzl {
        color: black;
      }
      
      .album #i53es {
        color: black;
      }
      
      .album .img.img-big {
        height: 50%;
        margin: 0 0 16px 0;
      }
      
      @media (max-width: 1024px) {
        .album .img {
          margin: 0 0 18px 0;
        }
      }
      
      @media (max-width: 768px) {
        .album .img {
          max-width: 32.5%;
          margin: 0 0 0 0;
        }
      
        .album .responsive-container-block.bg {
          flex-direction: column;
        }
      
        .album .responsive-container-block.img-cont {
          max-width: 100%;
          flex-direction: row;
          justify-content: space-between;
        }
      
        .album .img.img-big {
          max-width: 49%;
          margin: 0 0 0 0;
        }
      }
      
      @media (max-width: 500px) {
        .album .img {
          max-width: 94%;
          margin: 0 0 25px 0;
        }
      
        .album .responsive-container-block.img-cont {
          flex-direction: column;
          align-items: center;
          padding: 10px 10px 10px 10px;
        }
      
        .album .img.img-big {
          max-width: 94%;
          margin: 0 0 25px 0;
        }
      
        .album .img.img-last {
          margin: 0 0 5px 0;
        }
      }

*{
  font-family:playfair;

}
h2{
  font-family: dancing-script;
  color: rgb(227 186 67);

}
.button-section {
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); /* Semi-transparent white background */
    color: #333333; /* Dark text color */
  }
  .button-section .content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 6rem 2rem;
  }
  .button-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
  }
  .button-section p {
    font-size: 1.5rem;
    color: #666666; /* Medium-dark text color */
    margin-bottom: 3rem;
  }
  .button-section button {
    background-color: #da373d;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 3rem;
    border-radius: 999px;
    transition: background-color 0.3s ease;
  }
  .button-section button:hover {
    background-color: #aa2c32;
  }
  .working-hours-section {
    background-color: #f3f4f6; /* Light gray background color */
  }

  .working-hour {
    right: -378px;
    width: 60%;
    border-radius: 6.8rem;
    background-color: #6b7280;
  }

  .about-us-section {
    background-color: #f3f4f6; /* Light gray background color */
  }

  .about-us-section .container {
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;
    display: flex;
  }

  .about-us-section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
  }

  .about-us-section h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #333333; /* Dark text color */
    margin-bottom: 1.5rem;
  }

  .about-us-section p {
    font-size: 1.5rem;
    color: #666666; /* Medium-dark text color */
    margin-bottom: 2rem;
  }

  .about-us-section img {
    flex-basis: 50%;
    border-radius: 10px; /* Rounded corners for the image */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  .rectangle {
    background-color: white; /* White background for rectangles */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: absolute;
    height: 200px;
    padding: 1rem;
    z-index: 10; /* Ensure rectangles are above the background shape */
  }

  .rectangle img {
    border-radius: 5px; /* Rounded corners for the images */
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .swiper-container{
    overflow: hidden;
  }
  .album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0 0 0 0;
    justify-content: space-between;
  }
  
  .album .img {
    width: 100%;
    margin: 0 0 20px 0;
  }
  
  .album #i9rb {
    color: black;
  }
  
  .album #ir6i {
    color: black;
  }
  
  .album #ikz3b {
    color: black;
  }
  
  .album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0 0 0 0;
    height: 100%;
  }
  
  .album #ipix {
    color: black;
  }
  
  .album #ipzoh {
    color: black;
  }
  
  .album #ig5q8 {
    color: black;
  }
  
  .album #imtzl {
    color: black;
  }
  
  .album #i53es {
    color: black;
  }
  
  .album .img.img-big {
    height: 50%;
    margin: 0 0 16px 0;
  }
  
  @media (max-width: 1024px) {
    .album .img {
      margin: 0 0 18px 0;
    }
  }
  
  @media (max-width: 768px) {
    .album .img {
      max-width: 32.5%;
      margin: 0 0 0 0;
    }
  
    .album .responsive-container-block.bg {
      flex-direction: column;
    }
  
    .album .responsive-container-block.img-cont {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .album .img.img-big {
      max-width: 49%;
      margin: 0 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .album .img {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .responsive-container-block.img-cont {
      flex-direction: column;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }
  
    .album .img.img-big {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .img.img-last {
      margin: 0 0 5px 0;
    }
  }



.wk-desk-1 {
width: 8.333333%;
}

.wk-desk-2 {
width: 16.666667%;
}

.wk-desk-3 {
width: 25%;
}

.wk-desk-4 {
width: 33.333333%;
}

.wk-desk-5 {
width: 41.666667%;
}

.wk-desk-6 {
width: 50%;
}

.wk-desk-7 {
width: 58.333333%;
}

.wk-desk-8 {
width: 66.666667%;
}

.wk-desk-9 {
width: 75%;
}

.wk-desk-10 {
width: 83.333333%;
}

.wk-desk-11 {
width: 91.666667%;
}

.wk-desk-12 {
width: 100%;
}

@media (max-width: 1024px) {
.wk-ipadp-1 {
width: 8.333333%;
}

.wk-ipadp-2 {
width: 16.666667%;
}

.wk-ipadp-3 {
width: 25%;
}

.wk-ipadp-4 {
width: 33.333333%;
}

.wk-ipadp-5 {
width: 41.666667%;
}

.wk-ipadp-6 {
width: 50%;
}

.wk-ipadp-7 {
width: 58.333333%;
}

.wk-ipadp-8 {
width: 66.666667%;
}

.wk-ipadp-9 {
width: 75%;
}

.wk-ipadp-10 {
width: 83.333333%;
}

.wk-ipadp-11 {
width: 91.666667%;
}

.wk-ipadp-12 {
width: 100%;
}
}

@media (max-width: 768px) {
.wk-tab-1 {
width: 8.333333%;
}

.wk-tab-2 {
width: 16.666667%;
}

.wk-tab-3 {
width: 25%;
}

.wk-tab-4 {
width: 33.333333%;
}

.wk-tab-5 {
width: 41.666667%;
}

.wk-tab-6 {
width: 50%;
}

.wk-tab-7 {
width: 58.333333%;
}

.wk-tab-8 {
width: 66.666667%;
}

.wk-tab-9 {
width: 75%;
}

.wk-tab-10 {
width: 83.333333%;
}

.wk-tab-11 {
width: 91.666667%;
}

.wk-tab-12 {
width: 100%;
}
}

@media (max-width: 500px) {
.wk-mobile-1 {
width: 8.333333%;
}

.wk-mobile-2 {
width: 16.666667%;
}

.wk-mobile-3 {
width: 25%;
}

.wk-mobile-4 {
width: 33.333333%;
}

.wk-mobile-5 {
width: 41.666667%;
}

.wk-mobile-6 {
width: 50%;
}

.wk-mobile-7 {
width: 58.333333%;
}

.wk-mobile-8 {
width: 66.666667%;
}

.wk-mobile-9 {
width: 75%;
}

.wk-mobile-10 {
width: 83.333333%;
}

.wk-mobile-11 {
width: 91.666667%;
}

.wk-mobile-12 {
width: 100%;
}
}